.vertical-divider {
    height: 100%;
    border-left: 1px solid #ccc;
    position: absolute;
    left: 50%;
    top: 0;
}

.build-item {
    width: 50px !important;
    height: 50px;
    margin: 10px;
}

.product-container {
    display: flex;
    align-items: left;
}

.select > img{
    background-color: rgba(0, 255, 0, 0.5);
    border: 2px solid black;
}
